<!DOCTYPE html>
<html lang="en">
<body>
    
    <form method="POST" class="post-form" action="/order_entry/odr">
        {% csrf_token %}
        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Enter Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">order_desc:</label>
                <div class="col-sm-4">
                    {{ form.order_desc }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">order_date:</label>
                <div class="col-sm-4">
                    {{ form.order_date }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">order_qty:</label>
                <div class="col-sm-4">
                    {{ form.order_qty }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">order_amount:</label>
                <div class="col-sm-4">
                    {{ form.order_amount }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">order_notes:</label>
                <div class="col-sm-4">
                    {{ form.order_notes }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">order_item:</label>
                <div class="col-sm-4">
                    {{ form.order_item }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">order_payment_type:</label>
                <div class="col-sm-4">
                    {{ form.order_payment_type }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>