<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Records</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>order_desc</th>
                <th>order_date</th>
                <th>order_item</th>
                <th>order_payment_type</th>
                <th>order_qty</th>
                <th>order_amount</th>
                <th>order_created_date</th>
                <th>order_notes</th>
            </tr>
        </thead>
        <tbody>
            {% for o in order_entry_order %}
            <tr>
                <td>{{ o.id }}</td>
                <td>{{ o.order_desc }}</td>
                <td>{{ o.order_date }}</td>
                <td>{{ o.order_item }}</td>
                <td>{{ o.order_payment_type }}</td>
                <td>{{ o.order_qty }}</td>
                <td>{{ o.order_amount }}</td>
                <td>{{ o.order_created_date }}</td>
                <td>{{ o.order_notes }}</td>
                <td>
                    <a href="/order_entry/delete/{{ o.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <center><a href="/order_entry/odr" class="btn btn-primary">Add New Record</a></center>
</body>

</html>